@media screen{
body { 
margin:0 auto;
//height: 100%;
//background: radial-gradient(90% 50%, #FFFFFF, #D2E6F2);
background: #EDFAEC;


}
.header {
display: block;
position: relative;

background: -moz-linear-gradient(90deg, rgba(219,247,215,1) 0%, rgba(140,144,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(140,144,255,1)), color-stop(100%, rgba(219,247,215,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(219,247,215,1) 0%, rgba(140,144,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(219,247,215,1) 0%, rgba(140,144,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(219,247,215,1) 0%, rgba(140,144,255,1) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(219,247,215,1) 0%, rgba(140,144,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C90FF', endColorstr='#DBF7D7',GradientType=0 ); /* ie6-9 */ 
height: 56px;
//background: url(../images/horse.png) repeat-x;
}

.systemname{
	display: block;
	//vertical-align: middle;
	position: absolute;
	//margin: 20 auto;
	//width: 90%;
	left: 5px;
	right: 5px;
	top: 15px;
	min-width: 600px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif; 
	text-shadow: 1px 1px 1px #E3E5EC, 0.3em 0.3em 0.3em #E3E5EC;
	color: #000000; 
	}

.layer23 {
	position: relative;
	top: 101px;
	left: 0px;
	background: #FFFFFF;
	}

.auth-menu{
font-size: 9pt;
	position: absolute;
	right: 10px;
	top: 25px;
	font-family: Arial, Helvetica, sans-serif; 
	text-align: right;
	font-weight: bold;
	z-index: 5;
}
.auth_menu_button{

	position: absolute;
	right: 0px;
	top: 34px;
	font-family: Arial, Helvetica, sans-serif; 
	right:0;
	font-weight: bold;
	z-index: 5;
}
.authmenu_reg{
	display: block;
	position: absolute;
	width:300px;
	right: 0px;
	top: 34px;
	font-family: Arial, Helvetica, sans-serif; 
	text-align: right;
	//font-weight: bold;
	//background-color: #D1D5D7;
	//width:80px;
	//height: 16px;
	font-size: 9pt;
	z-index: 5;
		
}
.authmenu_reg input{
	width:80px;
	height: 16px;
	//font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif; 
	//background-color: #D1D5D7;
}
.authmenu_reg button {

   color: #000000;
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif; 
   text-decoration: none;
   vertical-align: middle;
}
.logo{
	position: absolute;
	left: 0;
	top: 0;
}	
.auth_error{
	color: red;
	font-size: 14px;
	font-family: cursive;
	
}	


#footer {
		display:block;
		position: relative;
		bottom:0;
    background: #8fa09b; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    clear: left; /* Отменяем действие float */
	//width: 99%;
	text-align: left;
}

/*| Navigation |*/
.menu {
		margin: 0px 0;
		font-family: Arial, Helvetica, sans-serif; 
		background-color: #D1D5D7;
		text-align: center;
	//background: rgb(131,58,180);
	//background: linear-gradient(90deg, rgba(131,58,180,0) 0%, #C6D3DA 5%, #C6D3DA 95%, rgba(131,58,180,0) 100%);		
		z-index: 4;

	}
	
	/* убираем отступы и поля, а также list-style для "ul", 
	 * и добавляем "position:relative" */
.menu ul {
		padding:0;
		margin:0;
		list-style: none;
		position: relative;
		outline: 1px groove white;
		z-index: 4;
		}
/* применяем inline-block позиционирование к элементам навигации */
.menu ul li {
		margin: 0px -7px 0 0;
		display:inline-block;
		background-color: #D1D5D7 ;
		outline: 1px groove white;
		z-index: 4;
		}
/* стилизуем ссылки */
.menu a {
		display:block;
		padding:0 10px;
		color:black;
		font-size:15px;
		font-weight: bold;
		line-height: 25px;
		text-decoration:none;
		text-align: left; 
		z-index: 4;
	}
/* изменяем цвет фона при наведении курсора */
.menu a:hover {
		background-color: #AFFFBF;
		text-decoration:none;
		color: #0000FF;
		outline: 1px groove white;
		z-index: 4;
}
.menu ul ul {
		display: none;
		position: absolute;
		top: 100%;
		z-index: 4;
	}
/* отображаем выпадающий список при наведении */
.menu ul li:hover > ul {
		display:block;
		z-index: 4;
	}
/* первый уровень выпадающего списка */
.menu ul ul li {

		min-width:170px;
		float:none;
		display:block;
		position: relative;
		z-index: 4;
	}
.menu ul ul ul {
		position: absolute;

		top:0;
		left:100%;
		z-index: 4;
}

.registration{
	display: block;
	position: relative;
	font-family: Arial, Helvetica, sans-serif; 
	color: #000000;
	width: 300px; /* Ширина слоя */
    //margin-top: 5%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    border: 2px solid black; /* Параметры границы */
    background: #ADBCC4; /* Цвет фона */
	text-align: center;
	margin: 0 auto; /* Отступ справа */
	margin-top: 2%;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}



.main table{
	margin: auto;
}

.text-area{
	display: block;
	position: relative;
	background: #ADBCC4;
	padding: 10px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 1px solid #f9f3dd; /* Параметры границы */
}

.text{
	text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
	//float: right; 
	z-index: 0;
}
.text h3{
	font-family: Arial, Helvetica, sans-serif; 
	text-shadow: 1px 1px 1px #C99103, 0.1em 0.1em 0.1em #C99103;
}
.text-href{
	text-align: center; /* Выравнивание по ширине */
	font-family: Arial, Helvetica, sans-serif; 
	//color: #FFFFFF;
	//text-decoration: none;
	
}
.text-href a{

color:#73F2FF;

text-decoration:none;

}

.text-href a:active {

color:#09FF00;

text-decoration:none

}

.text-href a:visited {

color:#FFF995;

text-decoration:none

}

.text-href a:hover {

color:#0004FF;

text-decoration: underline

}
.article{
	display: block;
	position: relative;

	width: 1000px; /* Ширина слоя */
	//height: 200px;
    //margin-top: 10px; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    //border: 2px solid black; /* Параметры границы */
    background: #C5D1D7; /* Цвет фона */
	text-align: center;
    margin: 0 auto; /* Отступ справа */
	margin-top: 1%;
	//border-radius: 20px;
	//-moz-border-radius: 20px;
	//-webkit-border-radius: 20px;
}
.showany{
	//display: block;
	//position: relative;
	font-family: Arial, Helvetica, sans-serif; 
	//width: 100%;
	
	//color: #000000;
	//width: 1024px; /* Ширина слоя */
    //margin-top: 35%; /* Значение отступов */
    //padding: 10px; /* Поля вокруг текста */
    //border: 2px solid black; /* Параметры границы */
    //background: #C5D1D7; /* Цвет фона */
	//background: #D7E1E6;
	//background: linear-gradient(90deg, rgba(121,58,180,0) 0%, #C6D3DA 50%, #C6D3DA 50%, rgba(131,58,180,0) 100%);
	text-align: center;
	//margin: 0 auto; /* Отступ справа */
	margin-top: 25px;
	//border-radius: 20px;
	//-moz-border-radius: 20px;
	//-webkit-border-radius: 20px;
	//height: 100vh;

}

/*

} 
.showany th, td{
	margin: 0 auto;
	background:#F0FFFF;
	//padding: 5px;
	//border: 1px solid #A8A8A8;
}*/

/*
.add-edit-user-table{
	margin: auto;
	border-collapse: collapse; 
	//background:#F0FFFF;
	border: 1px solid #A8A8A8;
}
.add-edit-user-table th, td{
	margin: auto;
	padding: 5px;
	border: 1px solid #A8A8A8;
}
*/
.showany table{
	margin: auto;
	//width: 100%;
	border-collapse: collapse; 
	//background:#F0FFFF;
	//border: 0px solid #A8A8A8;
	//padding: 10px;
}
.showany td{
	//padding: 5px; /* Поля в ячейках */
    //vertical-align: top; /* Выравнивание по верхнему краю ячеек */
	padding: 5px;
	//font-size: 14px;
	//text-align: center;
	//border-top: 1px solid #56433D;
	//border-bottom: 1px solid #56433D;
	//border-right: 1px solid #56433D;
	//border-left: 1px solid #56433D;
}
.showany tr{
	//padding: 5px; /* Поля в ячейках */
	//vertical-align: top; /* Выравнивание по верхнему краю ячеек */
	//background:#F0FFF2;
}

.showusers{
	display: block;
	position: relative;
	font-family: Arial, Helvetica, sans-serif; 
	color: #000000;
	//width: 1024px; /* Ширина слоя */
    //margin-top: 5%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    //border: 2px solid black; /* Параметры границы */
    //background: #C5D1D7; /* Цвет фона */
	//background: #D7E1E6;
	//background: linear-gradient(90deg, rgba(121,58,180,0) 0%, #C6D3DA 5%, #C6D3DA 95%, rgba(131,58,180,0) 100%);
	text-align: center;
	margin: 0 auto; /* Отступ справа */
	margin-top: 1%;

}

.showusers table{
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse; 
	//background:#F0FFFF;
	border: 0px solid #A8A8A8;
	padding: 10px;
}
.showusers td{
	//padding: 5px; /* Поля в ячейках */
    //vertical-align: top; /* Выравнивание по верхнему краю ячеек */
	padding: 5px;
	//font-size: 14px;
	//text-align: center;
	//border-top: 1px solid #56433D;
	//border-bottom: 1px solid #56433D;
	//border-right: 1px solid #56433D;
	//border-left: 1px solid #56433D;
}
.showusers tr{
	//padding: 5px; /* Поля в ячейках */
	//vertical-align: top; /* Выравнивание по верхнему краю ячеек */
	//background:#F0FFF2;
}

.newuser {
	display: block;
	position: absolute;
	top: 40px;
	left: 10px;

}

.showcontr{
	display: block;
	position: relative;
	font-family: Arial, Helvetica, sans-serif; 
	color: #000000;
	//width: 1024px; /* Ширина слоя */
    //margin-top: 5%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    //border: 2px solid black; /* Параметры границы */
    //background: #C5D1D7; /* Цвет фона */
	//background: #D7E1E6;
	//background: linear-gradient(90deg, rgba(121,58,180,0) 0%, #C6D3DA 5%, #C6D3DA 95%, rgba(131,58,180,0) 100%);
	text-align: center;
	margin: 0 auto; /* Отступ справа */
	//margin-top: 1%;
	
	//border-radius: 20px;
	//-moz-border-radius: 20px;
	//-webkit-border-radius: 20px;
}
.showcontr table{
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse; 
	//background:#F0FFFF;
	border: 0px solid #A8A8A8;
	padding: 10px;
}
.s1111howcontr tr:hover {color:#black;
	background: #8B0000;
	}
.newcontr {
	position: absolute;
	top: 40px;
	left: 10px;

}
.searchcontr {
	position: absolute;
	top: 60px;
	right: 10px;
	font-family: Arial, Helvetica, sans-serif; 
}


   
   
   


.newstation td{
vertical-align: middle;

//text-align: center;


}
.newstation table{
margin: auto;
}

.showmodel{
display: block;
	position: relative;

	color: #000000;
	width: 600px; /* Ширина слоя */
    //margin-top: 5%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    border: 2px solid black; /* Параметры границы */
    background: #C5D1D7; /* Цвет фона */
	text-align: center;
	margin: 0 auto; /* Отступ справа */
	margin-top: 2%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
}

.showmodel td, th{
	padding: 3px 20px;
	vertical-align: middle;
	text-align: center;

}

.showmodel table{
	margin: auto;
	width: 100%;
}
.button-new{
	//color: #000000;
	//border-top: 1px solid #696969;
	//background: #EDEDED;
	//font-size: 13px;
	//font-family: Lucida Console;
	background: -moz-linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
	background: -webkit-gradient(linear, 0 0, 0  100%, from(#D3D3D3), to(#D3D3D3), color-stop(0.5, #FFFFFF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
	padding: 1px 4px;
	color: #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 2px;
	border: 1px outset #767;
	cursor: pointer;
	
}

.button-new:hover {
   border-top-color: #EEEEEE;
   background: #808080;
   color: #FFFFFF;
   
 
}
.button{
	border-top: 1px solid #b8b8b8;
	background: #678C61;
	background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#678C61));
	background: -webkit-linear-gradient(top, #cfcfcf, #678C61);
	background: -moz-linear-gradient(top, #cfcfcf, #678C61);
	background: -ms-linear-gradient(top, #cfcfcf, #678C61);
	background: -o-linear-gradient(top, #cfcfcf, #678C61);
	padding: 1px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #000000;
	display: inline;

	font-size: 14px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}

.button:hover {
   border-top-color: #a8a8a8;
   background: #a8a8a8;
   color: #00102B;
}
.button:active {
   border-top-color: #858585;
   background: #858585;
}
.button_back{
	border-top: 1px solid #5BFAED;
	background: #5BFAED;
	//background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#678C61));
	//background: -webkit-linear-gradient(top, #cfcfcf, #678C61);
	//background: -moz-linear-gradient(top, #cfcfcf, #678C61);
	//background: -ms-linear-gradient(top, #cfcfcf, #678C61);
	//background: -o-linear-gradient(top, #cfcfcf, #678C61);
	padding: 1px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #000000;
	font-size: 14px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
}
.button_back:hover {
   border-top-color: #a8a8a8;
   background: #a8a8a8;
   color: #00102B;
}
.button_back:active {
   border-top-color: #858585;
   background: #858585;
}



.button-delete {
   border-top: 1px solid #b8b8b8;
   background: #8c8c8c;
   background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#FFAAAA));
   background: -webkit-linear-gradient(top, #cfcfcf, #FFAAAA);
   background: -moz-linear-gradient(top, #cfcfcf, #FFAAAA);
   background: -ms-linear-gradient(top, #cfcfcf, #FFAAAA);
   background: -o-linear-gradient(top, #cfcfcf, #FFAAAA);
   padding: 1px 4px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #664747;
   font-size: 14px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
}
.button-delete:hover {
   border-top-color: #a8a8a8;
   background: #FF4242;
   color: #00102B;
   }
.button-delete:active {
   border-top-color: #858585;
   background: #FF4242;
   }
   
   
   
.show_rs{
	display: block;
	position: relative;

	color: #000000;
	width: 85%; /* Ширина слоя */
    //margin-top: 5%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    border: 2px solid black; /* Параметры границы */
    background: #E0E6E9; /* Цвет фона */
	text-align: center;
	margin: 0 auto; /* Отступ справа */
	margin-top: 2%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
}
.show_rs td, th{
	padding: 3px 5px;
	vertical-align: middle;
	text-align: center;
}

.show_rs table{
	margin: auto;
	width: 100%;
}
.title:hover::after{
	content: attr(data-title);
}
.date{
	background: #FF2929; 
    color: white;
    font-size: 12pt; 
}
.error-message{
	display: block;	
	position: relative;
	margin: 0 auto;
	background: #FF2929; /* Синий цвет фона */ 
    color: white; /* Белые буквы */ 
    font-size: 12pt; /* Размер шрифта в пунктах */
	font-weight: bold;
	width: 350px;
	text-align: center;
	z-index: 1;
}


 .StyleSelectBox {
    width:250px;
    height:22px;
    //font:14px Arial, Tahoma, Helvetica, Verdana;
    text-align:left;
    background:#FCFDF0;
    //line-height:30px;
    //white-space:nowrap; /* запрещаем перенос */
	//padding:0 22px 0 12px; /* отступ справа с учетом стрелочки */
    //border:0;
    zoom:1; /* для IE6 */
}
.pagination {
	
	margin: 0 auto;
    font:14px Arial, Tahoma, Helvetica, Verdana;
    text-align:center;
	
    line-height:30px;
    white-space:nowrap; /* запрещаем перенос */
	text-decoration: none;
    zoom:1; /* для IE6 */
}
.page_number{
	background:	#FFDAB9;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px;
	text-decoration: none;
}
.watch {
	display: block;
	position: absolute;

	top: 60px;
	//font-family: Arial, Helvetica, sans-serif; 
	font:14px Arial, Tahoma, Helvetica, Verdana;
	text-align: left;
	font-weight: bold;
	text-shadow: 1px 1px 1px #FFFFFF, 0em 0em 0.1em blue;
	z-index: 4;
}
.showcustomer{
	display: block;
	position: relative;
	font-family: Arial, Helvetica, sans-serif; 
	color: #000000;
	//width: 1024px; /* Ширина слоя */
    //margin-top: 5%; /* Значение отступов */
    padding: 10px; /* Поля вокруг текста */
    //border: 2px solid black; /* Параметры границы */
    //background: #C5D1D7; /* Цвет фона */
	//background: #D7E1E6;
	//background: linear-gradient(90deg, rgba(121,58,180,0) 0%, #C6D3DA 5%, #C6D3DA 95%, rgba(131,58,180,0) 100%);
	text-align: center;
	margin: 0 auto; /* Отступ справа */
	//margin-top: 1%;
	
	//border-radius: 20px;
	//-moz-border-radius: 20px;
	//-webkit-border-radius: 20px;
}
.showcustomer table{
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse; 
	//background:#F0FFFF;
	border: 0px solid #A8A8A8;
	padding: 10px;
}
.hdr {
	background:#ADD8E6;
	font-family: Arial, Helvetica, sans-serif; 
	border: 1px solid #A3A3A3;
	font-size: 13px;
	
}

.newcustomer {
	position: absolute;
	//position: relative;
	top: 40px;
	left: 10px;
}
.newticket {
	position: absolute;
	//position: relative;
	top: 20px;
	left: 10px;
}

.rowt{
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: right;
	font-weight: bold;	
}
.rowt_left{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: left;
	font-weight: bold;	
}
.reg_up_table{
	display: inline-block;/*Задаем обтекание*/
	position: relative;
	border: 2px double #B0E0E6;
	top: -10px;
	vertical-align: top;
	background: #E5EEF0;
	min-height:950px;
	width: 500px;
	margin: 0px 5px;
	box-shadow: -10px 0px 28px rgba(0,0,0,0.3), 10px 0px 28px rgba(0,0,0,0.3);
	clear: inherit;
}
.for_look{
	display: inline-block;/*Задаем обтекание*/
	position: relative;
	border: 2px double #B0E0E6;
	top: -10px;
	vertical-align: top;
	background: #E5EEF0;
	//min-height:950px;
	width: 500px;
	margin: 0px 5px;
	box-shadow: -10px 0px 28px rgba(0,0,0,0.3), 10px 0px 28px rgba(0,0,0,0.3);
	clear: inherit;
}
.reg_sel_object{
	display: inline-block;/*Задаем обтекание*/

	top: 50px;
	margin-right: 50%;
	border: 2px double #B0E0E6;
	vertical-align: top;
	//float: 50%;
	background: #E5EEF0;
	//min-height:200px;
	width: 500px;
	margin: 0px 10px;
	box-shadow: -10px 0px 28px rgba(0,0,0,0.2), 10px 0px 28px rgba(0,0,0,0.2);
	
	 
}
.main{
	display: block;
	position: relative;
	font-family: Arial, Helvetica, sans-serif; 
	color: #000000;
	width: 500px; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    border: 2px double #B0E0E6;
    background: #E3F2FF; /* Цвет фона */
	text-align: center;
    margin: 0 auto; /* Отступ справа */
	margin-top: 5%;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: -10px 0px 28px rgba(0,0,0,0.2), 10px 0px 28px rgba(0,0,0,0.2);
}

.reg_link{
	color:blue;
	font-size: 12px;
}
.reg_dohod_td{
	//background: green;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
	color: #095E00;
}
.reg_dohod_td_all{
	//background: green;
	font-size: 13px;;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
	//color: #095E00;
}
.reg_text{
	//background: green;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
	width: 250px;
	//color: #FF0000;
}
.reg_text_show_tickets{
	//background: green;
	//font-size: calc(0.2vw + 0.2vh + 1vmin);
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	width: 250px;
	//color: #FF0000;

}


.reg_text_show_tickets_red{
	color: #C10000;
	//background: #FBABAB;

}
.reg_text_show_tickets_red_bold{
	font-family: Arial, Helvetica, sans-serif; 
	color: #A60000;
	font-weight: bold;
	background: #E6CECE;

}





tbody tr:hover td{
	//color: black;
	background: #AFFFBF;


}
.transition {
  transition: 0.3s;
}


.reg_text_show_tickets:target{
	transition: background 5s ease;
	border: 1px solid black;
	    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}


.text_show{
text-decoration: none;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	width: 250px;
	//color: #FF0000;
}

.text_show a{
	text-decoration: none;
	color: blue;
}
.text_show a:hover{
	text-decoration: none;
	text-decoration: underline;
	color: red;
	font-weight: bold;
}
.reg_text_all{
	//background: green;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
	width: 250px;
	color: #FF0000;
}
.reg_dohod_td_itogo{
	//background: green;
	font-size: 20px;;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
	//color: #095E00;
}
.reg_text_itogo{
	//background: green;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
	width: 250px;
	color: #FF0000;
}
.reg_select{
	width: 250px;
	background:#FCFDF0;
}

.reg_textarea{
	width: 250px;
	height:46px;
	background:#FCFDF0;
	max-width: 250px;
	max-height:66px;
}
.textarea_heidth{
	width: 250px;
	background:#FCFDF0;
	max-width: 250px;
	max-height:66px;
}
.div_right{
	float: right;
}

.reg_contr_td{
	//background: green;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
	color: #df013a;
}
.reg_post_td{
	//background: green;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif; 
	vertical-align: middle;
	text-align: right;
	font-weight: bold;
	color: #0000FF;
}
.textarea {
	//background:#00FF00;
	
	outline: none;
	-moz-appearance: none;
	border: 0px solid #999;
}
.breadcrumbs {
	display: block;
	position: relative;
	top: 5px;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif; 
	//vertical-align: middle;
	//text-align: left;
	font-weight: bold;
	color: #000000;
	
}
.breadcrumbs a{
	color:#0020BF;
	
	
}
.breadcrumbs a:hover{
	color:red;
	text-decoration: none;

}
.reg_input_filter{
	width: 100%;
	background: #E9FFFF;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
border: 1px inset #ADD8E6;	
border-radius: 2px;
}
.reg_select_filter{
	width: 100%;
	background: #ADD8E6;
	font-size: 11px;
	//font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

	cursor: pointer;
	border: 1px outset #ADD8E6;
}
 #upbutton {
    background: url("/images/up.png") no-repeat top left;
    height: 90px;
    width: 20px;
    top: 50px;
    left: 0px;
	cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}
.ticket_select_search{
	//width: 60px;
	background:#FCFDF0;
}
.print-doc{
	text-align: left;
}
.status{

	background:#FFE25C;
}

}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 20% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	border: 1px solid black;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.help1{

	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	
}





/*****************************************************************************************************/
@media print {
	.header {
		display: none;
	}
 @page {
  size: auto;
  margin: 0;
       }
	.logo {display: none;}
	.systemname{display: none;}
	.auth-menu{display: none;}
	.button-new{display: none;}
	.menu{display: none;}
	.watch{
		display: none;
	}	
	.print-doc{display: none;}
	body {
     font-family: Times, 'Times New Roman', serif; /* Шрифт с засечками */
    }
    h1, h2, p {
     color: #000; /* Черный цвет текста */
	}
	.showany{
	
	font-family: Arial, Helvetica, sans-serif; 
	
	text-align: center;
	
	margin-top: 25px;
	

}
	.reg_sel_object{
	display: inline-block;/*Задаем обтекание*/
	top: 50px;
	margin-right: 50%;
	//border: 2px double #B0E0E6;
	vertical-align: top;
	//float: 50%;
	//background: #E5EEF0;
	//min-height:200px;
	width: 500px;
	margin: 0px 10px;
	//box-shadow: -10px 0px 28px rgba(0,0,0,0.2), 10px 0px 28px rgba(0,0,0,0.2);
	}
	
.header-left-top, .a-right-bottom, .time-right-bottom {
display: none;	
}	
	
	
}